<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="movie">Movies</a>
    </div>

  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Movies</h1>
      </div>
    </div>
    <div class="row">
      <%@movies.each do |individualmovie|%> 
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="/movies/<%=individualmovie.id%>" class="thumbnail">
          <img src="<%=individualmovie.src%>" alt="<%=individualmovie.title%>">
        </a>
      </div>
       <% end %>
    </div>
  </div
